<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <!-- name -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'PRODUCT-DETAIL.NAME' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" [placeholder]="'PRODUCT-DETAIL.NAME-PLACEHOLDER' | translate" />
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{'PRODUCT-DETAIL.NAME-ERROR' | translate}}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!-- /name -->
  <!-- code -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'PRODUCT-DETAIL.CODE' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="4" nzHasFeedback [nzErrorTip]="codeErrorTpl">
      <input nz-input formControlName="code" [placeholder]="'PRODUCT-DETAIL.CODE-PLACEHOLDER' | translate" />
      <ng-template #codeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{'PRODUCT-DETAIL.CODE-ERROR' | translate}}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!-- /code -->
  <!-- extCode -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'PRODUCT-DETAIL.EXTCODE' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="4" nzHasFeedback [nzErrorTip]="extCodeErrorTpl">
      <input nz-input formControlName="extCode" [placeholder]="'PRODUCT-DETAIL.EXTCODE-PLACEHOLDER' | translate" />
      <ng-template #extCodeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{'PRODUCT-DETAIL.EXTCODE-ERROR' | translate}}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!-- /extCode -->
  <!-- extGroup -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>{{'PRODUCT-DETAIL.EXTGROUP' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="4" nzHasFeedback [nzErrorTip]="extGroupErrorTpl">
      <input nz-input formControlName="extGroup" [placeholder]="'PRODUCT-DETAIL.EXTGROUP-PLACEHOLDER' | translate" />
      <ng-template #extGroupErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{'PRODUCT-DETAIL.EXTGROUP-ERROR' | translate}}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!-- /extGroup -->
  <!-- visibility -->
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="7">
      <label nz-checkbox formControlName="visibility">
        <span>{{'PRODUCT-DETAIL.VISIBILITY' | translate}}</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <!-- /visibility -->
  <!-- editability -->
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="7">
      <label nz-checkbox formControlName="editability">
        <span>{{'PRODUCT-DETAIL.EDITABILITY' | translate}}</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <!-- /editability -->
  <!-- type -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">{{'PRODUCT-DETAIL.TYPE' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="2">
    <nz-radio-group formControlName="type">
      <label nz-radio nzValue="1">{{'PRODUCT-DETAIL.TYPE-1' | translate}}</label>
      <label nz-radio nzValue="2">{{'PRODUCT-DETAIL.TYPE-2' | translate}}</label>
      <label nz-radio nzValue="3">{{'PRODUCT-DETAIL.TYPE-3' | translate}}</label>
    </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <!-- /type -->
  <!-- longName -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">{{'PRODUCT-DETAIL.LONGNAME' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="longName" [placeholder]="'PRODUCT-DETAIL.LONGNAME-PLACEHOLDER' | translate" />
    </nz-form-control>
  </nz-form-item>
  <!-- /longName -->
  <!-- description -->
  <nz-form-item>
    <nz-form-label [nzSpan]="7">{{'PRODUCT-DETAIL.DESCRIPTION' | translate}}</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea formControlName="description" nz-input rows="2" [placeholder]="'PRODUCT-DETAIL.DESCRIPTION-PLACEHOLDER' | translate"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <!-- /description -->
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button
              nzType="primary"
              nzSize="large"
              type="submit"
              [disabled]="!validateForm.valid">
        <i nz-icon nzType="save"></i>
        {{'PRODUCT-DETAIL.SAVE-PRODUCT' | translate}}
      </button>
      <button nz-button
              nzType="default"
              nzSize="large"
              (click)="resetForm($event)">
        <i nz-icon nzType="close"></i>
        {{'PRODUCT-DETAIL.RESET-FROM' | translate}}
      </button>
      <button nz-button
              nzType="default"
              nzSize="large"
              (click)="back()">
        <i nz-icon nzType="arrow-left"></i>
        {{'PRODUCT-DETAIL.BACK-TO-PRODUCTS' | translate}}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
