<nz-table #rowSelectionTable
          [nzPageSizeOptions]=[5,10,50,100]
          [nzPageSize]="5"
          [nzData]="users | async"
          (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
    <tr>
      <th nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
      <th>{{'WELCOME.NAME' | translate}}</th>
      <th>{{'WELCOME.EMAIL' | translate}}</th>
      <th>{{'WELCOME.ADDRESS' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
          (nzCheckedChange)="refreshStatus()"></td>
      <td>
        <a (click)="showUser(data.id)">{{ data.name }}</a>
      </td>
      <td>{{ data.email }}</td>
      <td>{{ data.address.zipcode }}&nbsp;{{ data.address.city }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="user?.name"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="6"
                             nzFor="email">{{'WELCOME.EMAIL' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input
                       name="email"
                       type="email"
                       id="email"
                       [(ngModel)]="user.email">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6"
                             nzFor="username">{{'WELCOME.USERNAME' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input
                       name="username"
                       id="username"
                       [(ngModel)]="user.username">
              </nz-form-control>
            </nz-form-item>
          </form>
</nz-modal>
