<div class="button-container">
  <button nz-button
          nzType="default"
          nzSize="large"
          routerLink="/products/new">
    <i nz-icon nzType="plus"></i>
    {{'PRODUCT_LIST.NEW_PRODUCT' | translate}}
  </button>
  <button nz-button
          nzType="danger"
          nzSize="large"
          (click)="isConfirmDialogVisible=true"
          [disabled]="!(isAllDisplayDataChecked || isIndeterminate)">
    <i nz-icon nzType="close"></i>
    {{'PRODUCT_LIST.DELETE_PRODUCT' | translate}}
  </button>
</div>

<nz-table #productTable
          [nzData]="products$ | async"
          [nzLoading]="isLoading"
          [nzLoadingDelay]="500"
          nzShowPagination
          [nzPageSizeOptions]="[5,10,50,100]"
          nzPageSize="5"
          nzShowSizeChanger
          (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
      <th nzShowSort nzSortKey="name">{{'PRODUCT_LIST.NAME' | translate}}</th>
      <th nzShowSort nzSortKey="code">{{'PRODUCT_LIST.CODE' | translate}}</th>
      <th nzShowSort nzSortKey="extCode">{{'PRODUCT_LIST.EXTCODE' | translate}}</th>
      <th nzShowSort nzSortKey="extGroup">{{'PRODUCT_LIST.EXTGROUP' | translate}}</th>
      <th nzShowSort nzSortKey="longName">{{'PRODUCT_LIST.LONGNAME' | translate}}</th>
      <th>{{'PRODUCT_LIST.VISIBILITY' | translate}}</th>
      <th>{{'PRODUCT_LIST.EDITABILITY' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of productTable.data">
        <td nzShowCheckbox
        [(nzChecked)]="data.checked"
        (nzCheckedChange)="checkedChange()"></td>
        <td><a [routerLink]="['/products', data.id]">{{ data.name }}</a></td>
        <td>{{ data.code }}</td>
        <td>{{ data.extCode }}</td>
        <td>{{ data.extGroup }}</td>
        <td>{{ data.longName }}</td>
        <td nzShowCheckbox [nzChecked]="data.visibility" nzDisabled="true"></td>
        <td nzShowCheckbox [nzChecked]="data.editability" nzDisabled="true"></td>
    </tr>
  </tbody>
</nz-table>
<app-dialog-confirm [dialogTitle]="'PRODUCT_LIST.DELETE_MESSAGE_TITLE' | translate"
                    [dialogText]="'PRODUCT_LIST.DELETE_MESSAGE' | translate"
                    [(isVisible)]="isConfirmDialogVisible"
                    (isConfirmed)="isDeleteConfirmed()"></app-dialog-confirm>
