<div [ngClass]="{'isLoading': progress?.isLoading}"></div>
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="196px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.vodafone.cz/" target="_blank">
        <img src="../assets/vf-logo.svg" alt="logo">
        <h1 style="display: none;">{{'MENU.VODAFONE' | translate}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/packages">{{'MENU.PACKAGES' | translate}}</a>
      </li>
      <li nz-menu-item nzMatchRouter nzSelected>
        <a routerLink="/products">{{'MENU.PRODUCTS' | translate}}</a>
      </li>
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/attributes">{{'MENU.ATTRIBUTES' | translate}}</a>
      </li>
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/templates">{{'MENU.TEMPLATES' | translate}}</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/price-lists">{{'MENU.PRICE_LISTS' | translate}}</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/countries">{{'MENU.COUNTRIES' | translate}}</a>
      </li>
      <li nz-menu-item nzMatchRouter nzDisabled="true">
        <a routerLink="/country-groups">{{'MENU.COUNTRY_GROUPS' | translate}}</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/others">{{'MENU.OTHERS' | translate}}</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <!-- <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span> -->
        <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-spin nzSize="large" nzSimple [nzSpinning]="progress?.isLoading"></nz-spin>
